{% extends 'core/base.html' %}

{% block title %}Borrar factura{% endblock %}

{% block content %}

<div class="container">
    <div class="row mt-3 mb-5">
      <div class="col-md-9 mx-auto">
        <div>
            <form action="" method="post">{% csrf_token %}
                <p>¿Estás seguro de que quieres borrar "<b>{{ object }}</b>"?</p>
                <input type="submit" class="btn btn-primary btn-block" value="Sí, borrar la transaction" />
            </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}