{% extends 'core/base.html' %}
{% block title %}Lista de Clientes{% endblock %}

{% block content %}

<div
    class="container-sm mt-5"
>
    <div
        class="row justify-content-center align-items-center g-2"
    >
        
            <ul class="list-group">
                <div class="col ">

                    <a href="{% url 'cliente:cliente_create' %}"><button type="button" class="btn btn-primary mb-3">  
                        <i class="bi bi-plus"></i> Agregar  
                      </button></a>

                        {% for cliente in cliente_list %}
                        <li class="list-group-item mb-5 p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">
            
                            <p><b>{{cliente.nombre}}</b></p>
                            <a href="{% url 'cliente:facturas_por_cliente' cliente.id %}">Mostrar facturas del cliente...</a>
                            
                           
                        </li>
                        {% endfor %}
                </div>
                
            </ul>
        
        
    </div>
    
</div>



{% endblock %}