body {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
}

.reporte {
    width: 600px;
    margin: 0 auto;
    border: 1px solid #000;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    background-color: aqua;
}

p {
    font-size: 16px;
    margin: 10px 0;
}

strong {
    display: inline-block;
    width: 200px;
}

.reporte p {
    text-align: justify;
}
